numpy==1.24.3
scipy==1.10.1
cvxpy==1.4.1
matplotlib==3.7.1
tqdm>=4.65.0
pypdf>=4.0.0

# Deep Reinforcement Learning dependencies
torch>=2.0.0
gymnasium>=0.29.1
tensorboard>=2.13.0

# test
pytest>=4.15.0
